body {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  margin: 0;

}

.gfheader {
  height: 85px;
}

.gfbrand {
  margin: 15px 30px;
  font-size: 2.5em;
}

.gflist li {
  margin-top: 10px;
  margin: 5px 25px 0 25px;
}

.gflist a {
  font-size: 1.5em;
  font-weight: 100;
}

.curse {
  margin-bottom: 0;
}

.curse h1 {
  margin: 12px 0;
  padding-left: 15px;

}

.curse p {
  padding: 15px 15px 15px 15px;
}

.articles {
  padding: 8px;
}

.articles h4 {
  font-weight: 100;
  margin: 12px 0;
}

.articles p {
  font-size: 1.1em;
}

.comments {
  padding: 5px;
}

.comments span {
  padding-right: 10px;
  font-size: 1.1em;

}

@media only screen and (min-width:320px) and (max-width:480px)   {


  .gfbrand {
    margin: 10px 20px;
    font-size: 1.8em;
  }

  .articles h4{
    text-align: center;
  }

  .curse h1 {
    text-align: center;
  }
}
  /*CATEGORIES*/

  .cajitas {
    margin: 15px auto;
    /* width: 29.4%; */
  }

  .tarjeta {
    padding: 25px 0;
  }

  .tarjeta h3 {
    font-size: 1.7em;
  }
